<!--The whole content below can be removed with the new code.-->
<div style="text-align:center" class="title">

  <div class="cabeçalho">
    <h1>{{uf}}</h1>
    <h1>{{title}}</h1><!--nome do estado-->
    <h2>{{urls}} details!</h2><!--id do estado-->
    <!--media de municipios do estado-->
    <!--ano  e qunatidade de municipios atendidos da UF-->


    <!--
    <ul class="url">
      <li *ngFor="let hero of heroes"
        [class.selected]="urlss === selectedURL"
        (click)="onSelect(urlss)">
        <span class="badge">{{urlss.id}}</span> {{urlss.name}}
      </li>
    </ul>
    <hero-detail [hero]="selectedURL"></hero-detail>-->
  </div>

</div>
